.page-header {
    display: flex;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 60px;
}

.header-nav-ul {
    display: none;
    column-gap: 25px;
}

.header-nav-ul-link {
    color: #FCF9F9;
    line-height: 1.28;
    text-transform: uppercase;
    text-decoration: none;
}

.phone-link {
    display: none;
    color: #FCF9F9;
    line-height: 1.42;
}

.header-social-ul {
    display: flex;
    column-gap: 12px;
    justify-content: center;
    align-items: center;
    margin-left: auto;

}

.header-social-ul-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background: rgba(252, 249, 249, 0.10);
}

.header-button-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;

}