.hero-text {
    color: var(--white, #FCF9F9);
    font-size: 44px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -1.32px;
    margin-bottom: 20px;

}

.pan-ukrainian {
    color: #ECD979;
}


.hero-buttom {
    display: flex;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background-color: transparent;
    color: #FCF9F9;
    column-gap: 10px;
    padding: 14px 36px;
    margin: 20px 130px 40px 70px;
}

.hero-image {
    margin-top: 40px;
}