.section-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
    flex-direction: column;
    row-gap: 48px;
    align-items: center;
}


.container-portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
    margin-top: 72px;
}

.port-li {
    width: 288px;


}

.container-text-non {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.port-li-link {
    text-decoration: none;
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.port-li-link:hover {

    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



/* Transform */

.box-image {
    position: relative;
    overflow: hidden;
}

.paragraph-hidden {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-li-link:hover .paragraph-hidden {
    transform: translateY(0%);


}

.port-li-link:focus .paragraph-hidden {

    transform: translateY(0%);
}

@media screen and (min-width: 768px) {
    .section-portfolio {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .container-portfolio-ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .port-li {
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .section-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .port-li {
        width: calc((100% - 48px) / 3);


    }

}